doctype html
html(lang="fr")
    head
        title Project Igniter
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(
        name="viewport",
        content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
        link(href="/humans.txt", rel="author")
        link(href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic", rel="stylesheet")
        link(href="/bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="/styles/bootstrap.min.css", rel="stylesheet")
        link(href="/styles/ui.min.css", rel="stylesheet")
        link(href="/styles/main.min.css", rel="stylesheet")

        base(href="/")
    body
        section(
            id="app",
            class="app"
            data-ng-app="app"
            data-reactive-layout,
            data-off-canvas-nav
            data-ui-view,
            data-ng-class="{'nav-collapsed-min': userConfig.navCollapsed}"
        )
            div.apploader-container
                div.apploader
                    div.square
                    div.square
                    div.square.last
                    div.square.clear
                    div.square
                    div.square.last
                    div.square.clear
                    div.square
                    div.square.last

        script(src="/bower_components/moment/min/moment-with-locales.min.js")
        script(src="/bower_components/stringjs/lib/string.min.js")
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/jquery-ui/jquery-ui.min.js")
        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
        script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/bower_components/angular-ui-sortable/sortable.min.js")
        script(src="/bower_components/firebase/firebase.js")
        script(src="/bower_components/firebase-simple-login/firebase-simple-login.js")
        script(src="/bower_components/angularfire/dist/angularfire.min.js")
        script(src="/bower_components/toastr/toastr.min.js")
        script(src="/bower_components/angular-timer/dist/angular-timer.js")

        script(src="/app/app.js")
        script(src="/app/modules/config.js")
        script(src="/app/modules/routes.js")
        script(src="/app/modules/controllers.js")
        script(src="/app/modules/services.js")
        script(src="/app/modules/directives.js")
        script(src="/app/modules/decorators.js")
        script(src="/app/modules/filters.js")
        script(src="/app/modules/firebase.utils.js")
        script(src="/app/modules/simplelogin.js")
